@page "/presupuesto/{id}/{prov}"
@using ContadSP.Controllers
@using ContadSP.Repositorios
@using ContadSP.Models
@using Radzen
@using Radzen.Blazor
@using System.ComponentModel.DataAnnotations

@inject IRepositorio<Pedido> repositorioPedido
@inject IRepositorio<Provision> repositorioProvision
@inject IRepositorio<Proveedor> repositorioProveedor
@inject IRepositorio<DetalleProvision> repositorioProvisionDetalle
@inject IRepositorio<PresupuestoPedido> repositorioPresupuestoPedido
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-12 border rounded">
            <div class="conteiner-fluid">

                <div style="overflow: auto;">
                    <h5>Datos del proveedor</h5>
                    <div class="row">
                        <div class="col">
                            <label><strong>Proveedor:</strong></label>
                            <label>@proveedor.nombre</label>
                        </div>
                        <div class="col">
                            <label><strong>Comercio:</strong></label>
                            <label>@proveedor.nombre_comercial</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label><strong>Dirección:</strong></label>
                            <label>@proveedor.direccion</label>
                        </div>
                        <div class="col">
                            <label><strong>Teléfono:</strong></label>
                            <label>@proveedor.telefono</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label><strong>Email:</strong></label>
                            <label>@proveedor.email</label>
                        </div>
                    </div>

                    <table class="table table-striped table-responsive table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>Artículo</th>
                                <th>Cantidad</th>
                                <th>Unidad</th>
                                <th>Precio unitario</th>
                                <th>Subtotal</th>
                                <th>Subtotal letra</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var detalle in provisionDetalle)
                            {
                                var index = provisionDetalle.IndexOf(detalle);
                                <tr>
                                    <td>@detalle.Articulo.descripcion</td>
                                    <td>@detalle.cantidad</td>
                                    <td>@detalle.UnidadMedida.unidad</td>
                                    <td>
                                        <input type="number" @bind="presupuestosPedido[index].precio_unitario" />
                                    </td>
                                    <td>@presupuestosPedido[index].subtotal</td>
                                    <td>@presupuestosPedido[index].subtotal_letra</td>
                                    <td>
                                        @if (provisionDetalleDict[detalle]) 
                                        {
                                            <button type="button" class="btn btn-success" @onclick="() => AgregarInstancia(detalle)">Agregar Instancia</button>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div style="display:flex">
                        <button class="btn btn-primary" @onclick="ProcesarPresupuesto">Procesar Presupuesto</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string id { get; set; }
    [Parameter]
    public string prov { get; set; }

    private Dictionary<DetalleProvision, bool> provisionDetalleDict = new Dictionary<DetalleProvision, bool>();
    private List<DetalleProvision> provisionDetalle = new List<DetalleProvision>();
    private List<PresupuestoPedido> presupuestosPedido = new List<PresupuestoPedido>();
    private Proveedor proveedor = new Proveedor();
    private Pedido pedido = new Pedido();
    private Provision provision = new Provision();

    protected override async Task OnInitializedAsync()
    {
        pedido = await repositorioPedido.ObtenerPorId(int.Parse(id));
        proveedor = await repositorioProveedor.ObtenerPorId(int.Parse(prov));
        provision = await repositorioProvision.ObtenerPorId(pedido.provision_id);
        provisionDetalle = (await repositorioProvisionDetalle.ObtenerProvisionesId(provision.id)).ToList();

        // Inicializar el diccionario de provisionDetalle y la lista de presupuestosPedido
        foreach (var detalle in provisionDetalle)
        {
            provisionDetalleDict.Add(detalle, true);
            presupuestosPedido.Add(new PresupuestoPedido
                {
                    cantidad = detalle.cantidad,
                    detalle_provision_id = detalle.id,
                    pedido_id = int.Parse(id),
                    proveedor_id = int.Parse(prov)
                });
        }
    }

    private string UpdateCantidadLetra(double subtotal)
    {
        return ConversorNumeroLetra.NumeroALetras((int)subtotal);
    }

    private void CalcularSubtotal(DetalleProvision dp, PresupuestoPedido pp)
    {
        if (pp.precio_unitario < 0)
        {
            JSRuntime.InvokeVoidAsync("showSweetAlert", "¡Error!", "El precio unitario no puede ser negativo", "error");
            return;
        }

        pp.subtotal = dp.cantidad * pp.precio_unitario;
        pp.subtotal_letra = UpdateCantidadLetra(pp.subtotal);
    }

    private void AgregarInstancia(DetalleProvision dp)
    {
            var nuevaInstancia = new DetalleProvision
                {
                    Articulo = dp.Articulo,
                    cantidad = dp.cantidad,
                    UnidadMedida = dp.UnidadMedida,
                };
            provisionDetalle.Add(nuevaInstancia);
            presupuestosPedido.Add(new PresupuestoPedido
                {
                    cantidad = dp.cantidad,
                    detalle_provision_id = nuevaInstancia.id,
                    pedido_id = int.Parse(id),
                    proveedor_id = int.Parse(prov)
                });
            provisionDetalleDict.Add(nuevaInstancia, false);
    }

    private async Task ProcesarPresupuesto()
    {
        if (presupuestosPedido.Any(pp => pp.precio_unitario <= 0))
        {
            await JSRuntime.InvokeVoidAsync("showSweetAlert", "¡Error!", "Todos los campos de precio unitario deben estar completos y ser mayores que cero", "error");
            return;
        }

        foreach (var pp in presupuestosPedido)
        {
            await repositorioPresupuestoPedido.Agregar(pp);
        }

        await repositorioPresupuestoPedido.CambiarCarga(int.Parse(prov), int.Parse(id));

        await JSRuntime.InvokeVoidAsync("showSweetAlert", "¡Éxito!", "El presupuesto ha sido procesado correctamente", "success");

        var url = $"/altaPresupuesto/{id}";
        NavigationManager.NavigateTo(url);
    }
}